

<!DOCTYPE html>
<html>
<head>
	<title>Ftp Server</title>
</head>
<body>
	<h1>Welcome Admin!</h1>
	<a href="/user_view/index">Home</a> |
	<a href="/user_view/movies">Movies</a> |
	<a href="/user_view/software">Software</a> |
	<a href="/user_view/tvseries">TV Series</a> |
	<a href="/user_view/games">Games</a> |
	<a href="login/login">login</a> |
	
	
	
	<div class="card">
  <img src="/images/capsule_616x353.jpg" alt="" style="width:100%">
  <div class="container">
    
   
  </div>
</div>
 	

</body>
</html>