<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>Welcome Admin!</h1>
	<a href="/user/adduser">Add movie</a> |
 	<a href="/user/userList">Movie List</a> | 
	<a href="/logout">logout</a>

</body>
</html>